@charset "UTF-8";

@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css');

html,body{
    padding:0px;
    margin:0px;
    font-family:sans-serif;
	background: #fff;
	overflow:hidden;
}

button{
  background-color: #0CE;
  border-style: none;
  padding:12px 24px 12px 24px;
  color: #ffffff;
  border-radius: 6px;
  font-size: 24px;
  font-weight:400;
  cursor: pointer;
}

h1{
    font-family:Arial;
    font-weight:100;
    font-size:2.2vw;
}

h2{
    font-family:Arial;
    font-weight:100;
    font-size:1.6vw;
}

video{border-radius:12px; overflow:hidden;}

.page_section{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;  
	justify-content: center;
	height:100vh;
	background:#ffffff;
}

#label_name{
	margin-top:-40px;
}

#picture_box{
	z-index:4;
    width:100vw;
    height:100vh;
    display: flex;
    flex-direction: column;
    text-align:center;
    align-items: center;
    justify-content: center;
}

#picture_me{
  width:252px; height:252px; border-radius :160px; background:#fff; overflow:hidden;
}

#picture_me img{
  width:252px;
  height:252px;
}

#content_box{
    width:100vw;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-content: center;
}

#content_box p{width:280px;}

.social_list{ 
  margin-top:12px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
    width:100%;
	height:56px;
}

.social_list div i{width:36px;
height:36px;
color: #0CE;
font-size:48px;
margin:0px 1.2vw 0px 1.2vw;
    cursor:pointer;
    
}

.social_list .fa{
  font-size:36px;
}

@media (min-width : 1080px ) and ( max-width : 3840px ){
.page_section{
    flex-direction: row;    
}
    
    #picture_box{
        width:100vw;
    }
    
#content_box{
    width:100vw;
}
}

@media ( min-width : 0px ) and (max-width : 1080px ){
.page_section{
    flex-direction: column;   
    width:100%; 
    justify-content: center;
}
    
#picture_box{
	width:100vw;
	height:80vh;
	transform:scale(0.8);
}	
	
#content_box{
    width:100vw;
}
}



.gallery-wrap {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100vh;
}

.item {
  flex: 1;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: none;
  transition: flex 0.8s ease;
}

.item:hover{
	flex:7;
}

.item-1 { 
  background-image: url('https://images.unsplash.com/photo-1499198116522-4a6235013d63?auto=format&fit=crop&w=1233&q=80');
}

.item-2 { 
  background-image: url('https://images.unsplash.com/photo-1492760864391-753aaae87234?auto=format&fit=crop&w=1336&q=80');
}

.item-3 { 
  background-image: url('https://images.unsplash.com/photo-1503631285924-e1544dce8b28?auto=format&fit=crop&w=1234&q=80');
}

.item-4 { 
  background-image: url('https://images.unsplash.com/photo-1510425463958-dcced28da480?auto=format&fit=crop&w=1352&q=80');
}

.item-5 { 
  background-image: url('https://images.unsplash.com/photo-1503602642458-232111445657?auto=format&fit=crop&w=1234&q=80');
}


