@charset "UTF-8";

@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css');

html,body{
    padding:0px;
    margin:0px;
    font-family:sans-serif;
	background: #fff;
}

button{
  background-color: #0CE;
  border-style: none;
  padding:12px 24px 12px 24px;
  color: #ffffff;
  border-radius: 6px;
  font-size: 24px;;
  font-weight:400;
  cursor: pointer;
}

h1{
    font-family:Arial;
    font-weight:100;
    font-size:40px;
}

h2{
    font-family:Arial;
    font-weight:100;
    font-size:32px;
}

video{border-radius:12px; overflow:hidden;}

.page_section{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;  
}

#picture_box{
  margin-top:48px;
    width:50%;
    height:540px;
    display: flex;
    flex-direction: column;
    text-align:center;
    align-items: center;
    justify-content: center;  
}

#picture_me{
  width:252px; height:252px; border-radius :160px; background:#fff; overflow:hidden;
}

#picture_me img{
  width:252px;
  height:252px;
}

#content_box{
    min-width:50%;
    /*height:540px;
    padding-right:5%;*/
    box-sizing: border-box;
	background: #fff;
}

.tab_container {
	width: 100%;;
	padding-top: 96px;
    display:flex;
    flex-wrap: wrap;
}

input, section {
  clear: both;
  padding-top: 10px;
  display: none;
}

label {
  font-weight: 700;
  font-size: 1em;
  display: block;
  float: left;
  width: 33.3%;
    height:40px;
  color: #757575;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
 padding-top:12px;
 border-radius: 12px 12px 0px 0px;
}

#tab1:checked ~ #content1,
#tab2:checked ~ #content2,
#tab3:checked ~ #content3{
  display: block;
  padding: 20px;
  background: #fff;
  color: #999;
  /*border-bottom: 2px solid #f0f0f0;*/
}

#tab1:checked ~ #content1{border-radius:0px 24px 24px 24px;}

#tab2:checked ~ #content1{border-radius:24px 24px 24px 24px;}

#tab3:checked ~ #content1{border-radius:24px 0px 24px 24px;}

.tab_container .tab-content p,
.tab_container .tab-content h3 {
  -webkit-animation: fadeInScale 0.7s ease-in-out;
  -moz-animation: fadeInScale 0.7s ease-in-out;
  animation: fadeInScale 0.7s ease-in-out;
}

.tab_container [id^="tab"]:checked + label {
  background: #fff;
  box-shadow: inset 0 -3px #0CE;
}

.tab_container [id^="tab"]:checked + label .fa {
  color: #0CE;
}

.tab-content{padding:120px;}

.tab-content h3{font-size:1.2em; color:#454545;}

.tab-content h4{font-size:1em; color:#454545; font-weight:200;}

.tab-content p{font-size:1em; margin-block-start: -1em; margin-block-end: 1em;}

label .fa {
  font-size: 1.3em;
  margin: 0 0.4em 0 0;
}

/*Content Animation*/
@keyframes fadeInScale {
  0% {
  	/*transform: scale(0.9);*/
  	opacity: 0;
  }
  
  100% {
  	/*transform: scale(1);*/
  	opacity: 1;
  }
}

.skills_list{
    display:flex;
    justify-content: space-around;
    width:100%;
    padding:20px 10%;
    box-sizing: border-box;
}

.skill{
    width:120px;
    height:120px;
    background:#ddd;
    border-radius:24px;
    overflow:hidden;
}

.gallery{
    width:100%;
    padding:0px 40px 0px 40px;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align:center;
    align-items: center;
    justify-content: center; 
}

.gallery_item{
    cursor:pointer;
    width:320px;
    height:420px;
    background:#aaa;
    overflow:hidden;
    border-radius: 24px;
    margin:12px;
    transition: transform 0.3s ease-out;
    box-shadow: 0px 0px 10px #cdcdcd;
}

.gallery_item:hover{transform:scale(1.1);}

.gallery_thumbnail{
    width:320px;
    height:320px;
    background:#ddd;
    overflow:hidden;
}

.gallery_thumbnail img{margin-left:-50px;}

.gallery_desc{
    font-weight: 600;
    font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
    width:320px;
    height:100px;
    background:#eee;
    padding:10px;
    box-sizing: border-box;
}

.gallery_desc p{
  font-weight: 200;
  font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
}

.item{
    display:none;
    position:fixed;
    left:0px; top:0px;
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.6);
    align-items: center;
    justify-content: center;
    cursor:pointer;
    backdrop-filter:blur(12px);
    -webkit-backdrop-filter:blur(12px);
    flex-direction: column;
    font-weight:200;
}

.social_list{ 
  margin-top:24px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
    width:100%;
   height:56px;
}

.social_list div i{width:36px;
height:36px;
color: #0CE;
font-size:48px;
margin:0px 12px 0px 12px;
    cursor:pointer;
    
}

.social_list .fa{
  font-size:36px;
}

@media (min-width : 1080px ) and ( max-width : 3840px ){
.page_section{
    flex-direction: row;    
}
    
    #picture_box{
        width:40%;
    }
    
#content_box{
    width:60%;
}
}

@media ( min-width : 0px ) and (max-width : 1080px ){
.page_section{
    flex-direction: column;   
    width:100%; 
    justify-content: center;
}
    
#picture_box, #content_box{
    width:100%;
}


.gallery{
  width:100%;
  padding:0px 20px 0px 20px;
  display:flex;
  flex-wrap: wrap;
  text-align:center;
  align-items: center;
  justify-content: center; 
}

  label span {
    display: none;
  }
  
  .tab_container {
    width: 100%;
    padding-top:0px;
  }

#content_box{
    padding:0px;
}    
}
